SERVER_PORT=3001
DATABASE_URL="mongodb+srv://mikeodnis3242004:TAOptviuH3XrdBmZ@product-decoder.kgmnxr4.mongodb.net/product-decoder?retryWrites=true&w=majority"
JWT_SECRETS="O3z1,<*N?$7}9vYM7laxu{Uy}edqgW(/DL06)8luD)jTj^8}g}j[G@JlI$4:e=K,I3.W>isG+ch?i2rY_fLGC]}.1>H}&2M,q+&sQoM?y4-CT6BF-UTj[?XpM_Ql#s%$byNHTa9WynwbHWs$NT4,dtIPKOjUcClal7tVU4UZj5%$[3=hbiL?i(dhZr(Uz],9,oAc.@lxSs<iq^7D(UNYT&Wk1O|(c@6HJi.bI8Qqvk0X(FY9&v|RQ+D&Y[)m)91byM=u55-FfN@HtVVmKgB}lSySUcG8z*&FYqr=Sj>SVUr[yZpdx!@^Wtb@J=Oy8%QAQgbuIKIx(xS1*<3oJPr,ClEhuu$aQ[WCu0$%YDPD,zXQ!RXl9-DL2I!yaoYnXS6l^L^#IuifZoEbV#Q_f>du!_{&Z[)Q6}^Fz,!72kS0@,.nHvKNk}@H=.qcaE;bW;4C^)NDKNT}qAalf&kY+/:!K&m#{qi&l5i1QPsCuyqe)++0Ewn49Src2Fx6{w;Y#%U}"
JWT_EXPIRED=1d